 <style>  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    color: black;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.container {
    max-width: 900px;
    margin: auto;
    background-color: white;
    padding: 30px;
    text-align: center;
}


main {
    padding: 20px 0;
}

footer {
    background-color: #fff;
    padding: 5px 0;
    text-align: center;
}

nav ul li a[href="index.html"] {
    font-weight: bold;
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
}
nav ul li a[href="it-ethics.html"] {
    font-weight: bold;
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
}

        
</style>   
